.mainContainer{
    width: 24rem;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    border-radius: 1rem;
}

.registrationInfo{
    padding-top: 0.4rem;
}

.apiResponseMessage {
    color: red;
    font-size: 0.8125rem; 
  }
  

@media(max-width:780px){
    .mainContainer{
        width: 95%;
    }
}