.panCardGuidelines{
    display: block;
    text-align: right;
    font-size: 0.8125rem;
    color: red;
}
.mainHeading{
    padding: 1rem;
}

@media(max-width:780px){
   .mainHeading{
     font-size: 1.5rem;
   } 
}