.mainNavContainer{
    display: flex;
    flex-direction: column; 
    width: fit-content;

}

.sideNavContainer{
    display: flex;
    flex-direction: column;
    width: 12rem;
     gap: 2rem;
    justify-content: space-between;
    background-color: #b8e6ff;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding-inline: 0.4rem;
    height: 100%;
}

.navLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* min-height: 100vh; */

}

.navLink{
    /* background-color: white; */
    color: black;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem 0.8rem;
}

.signoutButton{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: max-content;
    padding:0.8rem 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.active{
    /* border: 2px solid red; */
    background-color: #78d4ff;
}

.expandMore{
  align-self: flex-end;
  cursor: pointer;
  padding: 0.2rem;
}

.toggleDisplay{
    width: fit-content;

}
.navLinksItemsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobileHamBurger{
    display: none;
    position: absolute;
    right: 0;
}

@media(max-width:780px){
    .sideNavContainer{
        max-width: fit-content;
        position: absolute;
        z-index: 2;
        padding-top: 2.5rem;
    }
    .toggleDisplay,.expandMore{
        display: none;
    }
    .mobileHamBurger{
        display: block;
    }
    /* .displayNone{
        display: 0;
    } */
}