.sideNavContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    padding-inline:0.2rem;
    background-color: #b8e6ff;
    width: 16rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding-inline: 0.4rem;
}

.navLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* min-height: 100vh; */

}

.navLink{
    /* background-color: white; */
    color: black;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem 0.8rem;
}

.signoutButton{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: max-content;
    padding:0.8rem 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.8rem;
    cursor: pointer;
}

.active{
    /* border: 2px solid red; */
    background-color: #78d4ff;
}

.expandMore{
  align-self: flex-end;
  cursor: pointer;
  padding: 0.2rem;
}

.toggleDisplay{
    width: fit-content;

}
.navLinksItemsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* @media(max-width:780px){
    .sideNavContainer{
        width: 0;
        padding: 0;
    }
.expandMore{
    position: absolute;
     right: 0;
}
.navLinksItemsContainer{
    padding-inline: 0.;
    position: absolute;
    z-index: 2; */
    /* background-color: black; */
    /* background-color: #b8e6ff;
    top: 0;
    bottom: 0;
    left: 0;
}
.mobileHamBurger{
    position: static;
}

.display0{
  display: none;
}
.display1{
    display: block;
  }
  .signoutButton{
    z-index: 8;
  } */
/* } */