.dashBoardMainContainer{
    padding: 2.5rem 2rem;
    width: 100%;    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.kycDetailsContainer{
    display: flex;
    flex-wrap:wrap ;
    gap: 0.8rem;
}

.kycDetails{
    flex: 1;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.userInfoContainer {
    background-color: #f8f9fa; 
    border-radius: 0.5rem;       
    padding: 1rem;             
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .userInfoItem {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 0.625rem 0;              
    border-bottom: 1px solid #e9ecef; 
  }
  
  .userInfoItem:last-child {
    border-bottom: none; 
  }
  
  .userInfoLabel {
    font-weight: 600;    
    color: #343a40;     
  }
  
  .verifiedBadge {
    background-color: #28a745; 
    color: white;              
    border-radius: 0.825rem;    
    padding: 0.25rem 0.5rem;        
    font-size: 0.82rem;         
  }
  
  .unverifiedBadge {
    background-color: #dc3545;
    color: white;
    border-radius: 0.75rem;
    padding:  0.25rem 0.5rem;
    font-size: 0.75rem;
  }
  .verifiedContainer{
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .fieldsToBeVerified {
    border: 2px solid #ffcc00;       
    border-radius: 0.5rem;             
    padding:0.4rem 0.8rem;                   
    background-color: #fff;         
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  }

  .fieldsToBeVerified p {
    padding-block: 0.2rem;
    font-size: 1rem;              
    color: #d9534f;                  
  }

  .apiServor{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.loadingContainer {
  width: 100%;
    display: flex;                  
    justify-content: center;        
    align-items: center;           
    color: #333;                 
    font-size: 24px;               
    font-weight: bold;            
    text-align: center;          
  }
  
  .loadingContainer h1 {
    margin: 0;                    
  }
  
  .loadingSpinner {
    margin-left: 10px;          
    width: 40px;                
    height: 40px;                 
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  @media(max-width:780px){
    .dashBoardMainContainer{
       padding:3rem 0.8rem
    }
  }